{% extends 'base.html' %}
{% load static %}
{% block titulo %}Cadastro{% endblock titulo %}

{% block conteudo %}

<a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
<div class="container" >
    <div class="content">    
        <img src="{% static 'img/logo.png' %}"style='width:110px;height:auto'>
              <!--FORMULÁRIO DE CADASTRO-->
        <div id="cadastro">
            <form method="post" id="form"> 
                {% csrf_token %}
                <h2>Crie sua conta</h2>
                {% for l in form %}

                {% if not l.label == 'Telefone' %}
                    <div class="label-float">
                        {{l}}
                        <label>{{l.label}}</label>
                        {{l.errors}}
                    </div>
                {% endif %}

                {% endfor %}
                
                <div class="g-recaptcha" data-sitekey="{{recaptcha_site_key}}"></div>
                {% include 'parciais/_messages.html' %}
                <p> 
                    <button type="submit" id='btn' onclick='funcao1()' disabled="disabled"><img src="{% static 'img/load.gif' %}" style='width:27px;margin-right:5px' id='load'> Cadastrar </button>
                </p>
                
                <p class="link">  
                    <a href="{% url 'entrar' %}">Já tem uma conta?</a>
                </p>
            </form>
            <script>
                document.getElementById('load').style.display = 'none';

                function checkInputs(inputs) {

                    var filled = true;
                    
                    inputs.forEach(function(input) {
                        
                      if(input.value === "") {
                          filled = false;
                      }
                    
                    });
                    
                    return filled;
                    
                  }
                  
                  var inputs = document.querySelectorAll("input");
                  var button = document.querySelector("button");
                  
                  inputs.forEach(function(input) {
                      
                    input.addEventListener("keyup", function() {
                  
                      if(checkInputs(inputs)) {
                        button.disabled = false;
                      } else {
                        button.disabled = true;
                      }
                      
                    });
                  
                  });
                function funcao1()
                {
                document.getElementById('load').style.display = 'block';
               }
            </script>
            {% comment %} <p> 
                <button onclick="funcao1()" type="submit" id='cadastrar'> Cadastrar </button>
            </p> {% endcomment %}

        </div>
    </div>
</div>


{% endblock conteudo %}