{% extends 'base.html' %}
{% load static %}

{% block titulo %}Colaboração a Web Stock{% endblock titulo %}

{% block conteudo %}
<a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>

<div class="principal">
    <div class='titulo'>
        <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s;position: relative;"></i>
        <h2>Doação</h2>
    </div>
    <div class='obs'>
        <h4>A colaboração será para fins de melhoria a plataforma, como qualidade de hospedagem e APIs. </h4>
    </div>   

    <div class='mercado-pago'>
        <img src="{% static 'img/mercadopago.png' %}" style='
        width: 70%;
        margin-top: 150px;
        max-width: 400px;'>
        <div class='valores' style='margin-bottom:100px'>
            <div class='reais'>
                <p>5 Reais</p>
                <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                data-preference-id="171999648-968624e8-4c60-4ea4-8636-3bae4878821b" data-source="button">
                </script>
            </div>
            <div class="reais">
                <p>20 Reais</p>
                <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                data-preference-id="171999648-b2bbec87-231e-4218-b6f2-40f7c71e4860" data-source="button">
                </script>            
            </div>
            <div class="reais">
                <p>50 Reais</p>
                <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                data-preference-id="171999648-0f417fe1-1a9a-42fb-b03a-b57cd360d120" data-source="button">
                </script>            
            </div>
    
        </div>
    </div>

</div>

{% endblock conteudo %}