{% extends 'base.html' %}
{% load static %}

{% block titulo %}Entrar{% endblock titulo %}

{% block conteudo %}

<a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
<div class="container" >
    <div class="content">    
          <!--FORMULÁRIO DE LOGIN-->
        <img src="{% static 'img/logo.png' %}"style='width:110px;height:auto'>
        <div id="login">
            <form method="POST">
                {% csrf_token %}
                <h2>Faça o login</h2>
                <div class="label-float"> 
                    {{form.email}}
                    <label>{{form.email.label}}</label>
                    {{l.errors}}
                </div>
                <div class="label-float">
                    {{form.senha}}
                    <label>{{form.senha.label}}</label>
                    {{l.errors}}
                </div>

                {% include 'parciais/_messages.html' %}

                <p> 
                    <input type="submit" value="Logar" />
                </p>
    
                <p style='text-align: center;color:gray'>ou</p>
                <p class="criar-conta">
                    <a href="{% url 'cadastrar' %}">Cadastre-se</a>
                </p>
            </form>
        </div>  
    </div>
</div>

<script src="{% static 'js/js.js' %}"></script>


{% endblock conteudo %}
