* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background-color: #121212;
    width: 100%;
    padding: 0 20px;
    height: 60px;
    align-items: center;
    z-index: 1;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 4%;
    height: auto;
    min-width: 40px;
    object-fit: cover;
    margin-left: 20%;
    margin-top: 7px;
}

.logo h2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-family: monospace;
    padding-top: 18px;
    padding-left: 15%;

}

.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: right;
}


/* sidebar */

.sidebar {
    position: fixed;
    width: 260px;
    height: calc(100% - 0px);
    background: #565656;
    overflow-x: hidden;
    box-shadow: 1px 20px 20px 4px rgb(0 0 0);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #fff;
}

.sidebar ul li:hover a {
    color: #000000;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}


/* main */

html {
    background: #121212;
}

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #121212;
}

.main2 {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 220px;
    background: #121212;
    display: flex;
    justify-content: center;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: flex;
    justify-content: center;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 20px;
}


.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #565656;
    border-radius: 10px;
    box-shadow: 2px 4px 17px 4px rgb(0 0 0);
    width: 100%;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
}

.card-name {
    font-weight: 800;
}

.icon-box i {
    font-size: 45px;
    color: #fff;
}


/* charts */

.charts {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    max-width: 376px;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }

    .main {
        width: 100%;
        left: 60px;
    }
}

@media (max-width:880px) {

    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }

    .cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .charts {
        grid-template-columns: 1fr;
    }

    .doughnut-chart {
        padding: 50px;
    }

    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }

    .logo h2 {
        font-size: 20px;
    }

    .search {
        width: 80%;
    }

    .search input {
        padding: 0 20px;
    }

    .fa-bell {
        margin-right: 5px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .doughnut-chart {
        padding: 10px;
    }

    #doughnut {
        padding: 0px;
    }

    .user {
        width: 40px;
        height: 40px;
    }
}

/*CARTAS DOS PRODUTOS*/




.cartas-produtos {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cartas-produtos main {
    max-width: 416px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    width: 300px;
    margin: 2%;

}

.cartas-produtos section {
    display: contents;
    /* align-items: center; */
    position: initial;
    height: 100%;
    width: 100%;
    align-content: flex-end;
    flex-wrap: wrap;
}

.cartas-produtos main h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

.cartas-produtos main span {
    text-align: center;
    color: #545454;
}

.cartas-produtos main strong {
    color: #0047ff;
}

.cartas-produtos main img {
    border-radius: 1em;
    max-width: 300px;
    min-height: 240px;
    width: auto;
    height: auto;
}

main .informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    width: 100%;
    border-radius: 0.8rem;
}

main .informations .music-price {
    display: flex;
    align-items: center;
}

main .informations .price {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

main .informations a {
    color: #382AE1;
    font-weight: 600;
    font-size: 90%;
    transition: all 0.3s;
}

main .informations a:hover {
    color: #766CF1;
    text-decoration: none;
}

main .informations img {
    width: 3rem;
    height: 3rem;
}

.cartas-produtos main button {
    cursor: pointer;
    padding: .3rem 0px;
    width: 150px;
    background: black;
    border-radius: 0.8rem;
    padding-bottom: 9px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 95%;
    margin-bottom: 1rem;
    transition: background 0.3s;
}

.cartas-produtos main button:hover {
    background: #8f8f8f;
}

#cancel-order {
    text-decoration: none;
    color: #717FA6;
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    transition: color 0.3s;
}

#cancel-order:hover {
    color: #1F2E55;
}

/* INPUT BUSCA */


.caixadepesquisa h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 43.5%;
}

.caixadepesquisa {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 3vw;
    min-height: 30px;
    border-radius: 40px;
    background-color: white;
    padding: 10px;
    display: flex;
    width: 50%;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
}

.botaodepesquisa {
    color: white;
    float: right;
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.textodepesquisa {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0%;
    color: black;
    font-size: 15px;
    transition: 0.6s;
    line-height: 35px;
    width: 100%;
}

.add-produto {
    float: right;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.add-produto button {
    width: 9vw;
    height: 3vw;
    min-height: 30px;
    min-width: 40px;
    font-size: 18px;
    font-weight: 600;
    background: #b274eb;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    box-shadow: 5px 4px 8px 1px black;
}

/* Janela Modal */


.modal {
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.modal .content-modal {
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    z-index: 9999999;
}

.modal h2 {
    padding: 0.5em;
    text-align: center;
    color: #ffffff;
    margin: 0;
    background: #4a4a4a;
}

.modal article {
    height: 67vh;
    background: #4a4a4a;
}

.close-modal {
    color: #ffffff;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.modal:target {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
}

.modal .btn-close-modal {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999991;
}

.modal:target .content-modal {
    top: 50px;
    transition: top 0.35s ease;
}

@media (max-width: 500px) {
    .modal .content-modal {
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }

}


a i.fa-solid.fa-trash-can {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 114px;
    position: absolute;
    color: black;
}

i.fa-solid.fa-trash-can:hover {
    color: #d81212;
    cursor: pointer;
}

.caixadepesquisa button {
    border: 0;
    margin-top: 0px;
    background: #30b71800;
    font-size: 25px;
}

i.fa-solid.fa-pen-to-square {
    font-size: x-large;
    color: #ffffff;
}

i.fa-solid.fa-cart-plus {
    font-size: -125px;
    font-size: 40px;
    color: #000000;
}

.tudo {
    font-family: sans-serif;
    background-color: #00022d;
    color: #fff;
    overflow: hidden;
}

.submit-form {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.textbox {
    width: 90%;
    text-align: center;
    display: flex;

}

.textbox input {
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    width: 100%;
    border-bottom: 1.5px solid #787878;
    background-color: transparent;
}

.textbox input:focus {
    border-bottom: 1.5px solid #0047ff;
    transition: all ease 0.8s;
    color: #fff;
}

.submit-form button {
    display: flex;
    position: relative;
    border: none;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
}


.textbox label {
    color: rgb(155 155 155);
    font-weight: 700;
    letter-spacing: 1px;
    width: 100px;
    padding-right: 10px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.edit-name {
    text-align: center;
    margin-left: 130px;
    letter-spacing: 1px;
    text-shadow: 5px 4px 4px #000000;
    color: #fff;
    font-size: calc(1vw + 100%);
}

.edit-img {
    margin: 8% 50px;
    width: 400px;
    border-radius: 10%;
}

.edit-form {
    display: grid;
    width: 40%;
    margin: auto;
    min-width: 300px;
}

.edit-form label {
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold
}

.edit-form input {
    border: 0;
    border-bottom: 2px solid #152deb;
    background-color: #2a2a2a;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 12px;
    color: whitesmoke;
    font-weight: bold;
}

/* BTN DA ABA EDITAR */

.btn {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    width: 180px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: all ease 0.5s;
}

.btn-iterativo{
    display: flex;
}

.btn-iterativo button {
    align-items: center;
    position: relative;
    border: none;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
    margin: auto;
    margin-top: 30px;
}

.btn-iterativo button:before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #232cdd;
    z-index: -1;
    transition: all ease 0.5s;
}

.btn-iterativo button:hover:before {
    width: 100%;
}

.dados-pessoais{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dados-pessoais input{
    border: 0;
    width: 300px;
    text-align: center;
    border-bottom: 2px solid #152deb;
    background-color: #2a2a2a;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 12px 5px 0px 5px;
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
}

.dados-pessoais .leitura{
    border: 0;
    border-bottom: 2px solid #ffffff;
    background-color: #2a2a2a00;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 12px 5px 0px 5px;
    color: rgb(97, 97, 97);
    font-size: 17px;
    font-weight: bold;
    width: 400px;
    text-align: center;
}


.dados-pessoais label{
    color: #ffffff;
    float: left;
    font-weight: bold;
    display: contents;

}

.campo-input{
    float: left;
    margin-bottom: 65px;
}

i.fa-solid.fa-key {
    color: white;
    font-size: x-large;
}

i.fa-solid.fa-circle-info {
    color: #313cbf;
}

.botao-verificar{
    border: 0;
    display: flex;
    height: 30px;
    width: 80px;
    margin-right: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #098f00;
    font-size: inherit;
    font-weight: 700;
    color: white;
}

.verifica input{
    font-size: 17px;
    border-bottom: 2px solid #098f00;
    height: 30px;
    width: 100px;
    margin-left: 10px;
}

.verifica{
    display: flex;
    margin-bottom: 35px;
}

.alert-danger{
    color: rgb(238, 38, 38);
    font-weight: 600;
}
.alert-success{
    color:#098f00;
    font-weight: 600;
}

/* TOOLTIP */

#tooltip{
    position: relative;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
    padding: 9px 0px;
}

#tooltipText{
    position: absolute;
    left: -466%;
    top:0;
    transform: translateX(-50%);
    background-color: #616161;
    color: #000000;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px;
}

#tooltipText::before{
    content: "";
    position: absolute;
    left: 93%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #616161 #0000 #0000 #0000;
}

#tooltip:hover #tooltipText{
    top: -130%;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* TOOLTIP 2 */

#tooltip2{
    position: relative;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
    padding: 9px 0px;
}

#tooltipText2{
    position: absolute;
    left: -268%;
    top: 0;
    transform: translateX(-50%);
    background-color: #161616;
    color: #d3d3d3;
    white-space: nowrap;
    padding: 10px 15px;
    margin-top: 33px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px;
}

#tooltipText2::before{
    content: "";
    position: absolute;
    left: 90%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #161616 #0000 #0000 #0000;
}

#tooltip2:hover #tooltipText2{
    top: -130%;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.campo-input i{
    margin-left: 10px;
}

.campo-input label{
    margin-left: 10px;
}