* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: blink;

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 0px 1px #5500ff;
    width: 100%;
    border-radius: 42%;
}

.topbar {
    position: fixed;
    background-color: #121212;
    width: 100%;
    padding: 0 20px;
    height: 60px;
    align-items: center;
    z-index: 1;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 4%;
    height: auto;
    min-width: 40px;
    object-fit: cover;
    margin-left: 20%;
    margin-top: 7px;
}

.logo h2 {
    color: #ffffff;
    /* width: 100%; */
    margin-top: 18px;
    margin-left: 257px;
}

.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: right;
}


/* sidebar */

.sidebar {
    position: fixed;
    width: 260px;
    height: calc(100% - 0px);
    background: #565656;
    overflow-x: hidden;
    box-shadow: -12px 2px 20px 13px rgb(0 0 0);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #fff;
}

.sidebar ul li:hover a {
    color: #000000;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}


/* main */

html {
    background: #121212;
}

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #121212;
}

.main2 {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: flex;
    justify-content: center;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 20px;
}


.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #565656;
    border-radius: 10px;
    box-shadow: 2px 4px 17px 4px rgb(0 0 0);
    width: 100%;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
}

.card-name {
    font-weight: 800;
}

.icon-box i {
    font-size: 45px;
    color: #fff;
}


/* charts */

.charts {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    max-width: 376px;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

@media (max-width:1245px) {
    .sidebar {
        width: 60px;
    }

    .main {
        width: 100%;
        left: 60px;
    }
    .main2 {
        width: 100%;
        left: 60px;
    }
    .container-1{
        display: none;
    }
    .logo h2{
        margin-left: 60px;
    }

}

@media (max-width:880px) {

    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }

    .cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .charts {
        grid-template-columns: 1fr;
    }

    .doughnut-chart {
        padding: 50px;
    }

    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }

    .logo h2 {
        font-size: 20px;
    }

    .search {
        width: 80%;
    }

    .search input {
        padding: 0 20px;
    }

    .fa-bell {
        margin-right: 5px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .doughnut-chart {
        padding: 10px;
    }

    #doughnut {
        padding: 0px;
    }

    .user {
        width: 40px;
        height: 40px;
    }
}

/*CARTAS DOS PRODUTOS*/




.cartas-produtos {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cartas-produtos main {
    max-width: 416px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    width: 300px;
    margin: 2%;

}

.cartas-produtos section {
    display: contents;
    /* align-items: center; */
    position: initial;
    height: 100%;
    width: 100%;
    align-content: flex-end;
    flex-wrap: wrap;
}

.cartas-produtos main h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

.cartas-produtos main span {
    text-align: center;
    color: #545454;
}

.cartas-produtos main strong {
    color: #0047ff;
}

.cartas-produtos main img {
    border-radius: 1em;
    max-width: 300px;
    min-height: 240px;
    width: auto;
    height: auto;
}

main .informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    width: 100%;
    border-radius: 0.8rem;
}

main .informations .music-price {
    display: flex;
    align-items: center;
}

main .informations .price {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

main .informations a {
    color: #382AE1;
    font-weight: 600;
    font-size: 90%;
    transition: all 0.3s;
}

main .informations a:hover {
    color: #766CF1;
    text-decoration: none;
}

main .informations img {
    width: 3rem;
    height: 3rem;
}

.cartas-produtos main button {
    cursor: pointer;
    padding: .3rem 0px;
    width: 150px;
    background: black;
    border-radius: 0.8rem;
    padding-bottom: 9px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 95%;
    margin-bottom: 1rem;
    transition: background 0.3s;
}

.cartas-produtos main button:hover {
    background: #8f8f8f;
}

#cancel-order {
    text-decoration: none;
    color: #717FA6;
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    transition: color 0.3s;
}

#cancel-order:hover {
    color: #1F2E55;
}

/* INPUT BUSCA */


.caixadepesquisa h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 43.5%;
}

.caixadepesquisa {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    height: 3vw;
    min-height: 30px;
    border-radius: 40px;
    background-color: white;
    padding: 10px;
    display: flex;
    width: 50%;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
}

.botaodepesquisa {
    color: white;
    float: right;
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.textodepesquisa {
    border: none;
    background: none;
    font-weight: 700;
    outline: none;
    float: left;
    padding: 0%;
    color: black;
    font-size: 15px;
    transition: 0.6s;
    line-height: 35px;
    width: 100%;
}

.add-produto {
    float: right;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 0px;
}

.add-produto button {
    width: 14vw;
    height: 3vw;
    min-height: 40px;
    min-width: 40px;
    font-size: 18px;
    font-weight: 600;
    background: #b274eb;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

/* Mudando o Modal do Bootstrap */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 0%; 
    padding-right: 0px;
    padding-left: 0px; 
    margin-right: 0px; 
    margin-left: 0px; 
}
.modal-backdrop.show {
    opacity: .5;
    width: 100%;
    height: 100%;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background: #2b2b2b;
}

.modal-body h3 {
    margin: 0;
    color: white;
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}

.modal-header .close {
    padding: 0;
    margin: auto;
    padding-right: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0px 1px 0px #fff;
    opacity: .5;
}

.modal-header {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-align: start;
    /* align-items: flex-start; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    background: #2b2b2b;
    border-bottom: 2px solid #9563f9;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    height: 65px;

}

.label-float{
    position: relative;
}

.label-float input{
    border: 0;
    border-bottom: 2px solid #82838b;
    min-width: 180px;
    background-color: #606060;
    margin-bottom: 5px;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;
}

.label-float input:focus{
    border-bottom: 2px solid #3951b2;
}

.label-float input::placeholder{
    color:transparent;
}

.label-float label{
    margin-bottom: 0px;
    margin-top: 5px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    }

.label-float input:required:invalid + label{
    color: rgb(255, 255, 255);
    }
.label-float input:focus:required:invalid{
    border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before{
    content: ' ';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: #3951b2;
}

input#id_imagem_produto {
    padding: 5px;
}

a i.fa-solid.fa-trash-can {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 114px;
    position: absolute;
    color: black;
}

i.fa-solid.fa-trash-can:hover {
    color: #d81212;
    cursor: pointer;
}

.caixadepesquisa button {
    border: 0;
    margin-top: 0px;
    background: #30b71800;
    font-size: 25px;
}

i.fa-solid.fa-pen-to-square {
    font-size: x-large;
    color: #ffffff;
}

i.fa-solid.fa-cart-plus {
    font-size: -125px;
    font-size: 40px;
    color: #000000;
}

.tudo {
    font-family: sans-serif;
    background-color: #00022d;
    color: #fff;
    overflow: hidden;
}

.submit-form {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.textbox {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.textbox input {
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding: 5px;
    width: 100%;
    border-bottom: 2.5px solid #000000;
    background-color: #606060;
}

.textbox input:focus {
    border-bottom: 2.8px solid #0047ff;
    transition: all ease 0.8s;
    color: #fff;
}

.submit-form button {
    display: flex;
    position: relative;
    border: none;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
}


.textbox label {
    color: rgb(96 96 96);
    font-family: fantasy;
    letter-spacing: 1px;
    width: 100px;
    padding-right: 10px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.edit-name {
    text-align: center;
    margin-left: 130px;
    letter-spacing: 1px;
    text-shadow: 5px 4px 4px #000000;
    color: #fff;
    font-size: calc(1vw + 100%);
}

.edit-img {
    margin: 8% 50px;
    width: 400px;
    border-radius: 10%;
}

.edit-form {
    display: grid;
    width: 40%;
    margin: auto;
    min-width: 300px;
}

.edit-form label {
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold
}

.edit-form input {
    border: 0;
    border-bottom: 2px solid #152deb;
    background-color: #2a2a2a;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 12px;
    color: whitesmoke;
    font-weight: bold;
}

/* BTN DA ABA EDITAR */

.btn {
    width: 100%!important;
    display: flex;
    cursor: pointer;
    background: #9563f9;
    padding: 8px 5px;
    color: #ffffff;
    height: auto;
    font-size: 18px;
    font-weight: 900;
    transition: all 0.2s linear;
    justify-content: center;
    border-radius: 5px;
    border: 0;
}

.btn-iterativo{
    display: flex;
}

i.fa-solid.fa-key {
    color: white;
    font-size: x-large;
}

i.fa-solid.fa-circle-info {
    color: #313cbf;
}

.botao-verificar{
    border: 0;
    display: flex;
    height: 30px;
    width: 80px;
    margin-right: 10px;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #098f00;
    font-size: inherit;
    font-weight: 700;
    color: white;
}

.verifica input{
    font-size: 17px;
    border-bottom: 2px solid #098f00;
    height: 30px;
    width: 100px;
    margin-left: 10px;
}

.verifica{
    display: flex;
    margin-bottom: 35px;
}

.alert-danger{
    color: rgb(238, 38, 38);
    font-weight: 600;
    background: transparent;
    margin: auto;
}
.alert-success{
    color:#098f00;
    font-weight: 600;
    background: transparent;
    margin: auto;
}

/* TOOLTIP */

#tooltip{
    position: relative;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
    padding: 9px 0px;
}

#tooltipText{
    position: absolute;
    left: -466%;
    top:0;
    transform: translateX(-50%);
    background-color: #616161;
    color: #000000;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px;
}

#tooltipText::before{
    content: "";
    position: absolute;
    left: 93%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #616161 #0000 #0000 #0000;
}

#tooltip:hover #tooltipText{
    top: -130%;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* TOOLTIP 2 */

#tooltip2{
    position: relative;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
    padding: 9px 0px;
}

#tooltipText2{
    position: absolute;
    left: -268%;
    top: 0;
    transform: translateX(-50%);
    background-color: #161616;
    color: #d3d3d3;
    white-space: nowrap;
    padding: 10px 15px;
    margin-top: 33px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 14px;
}

#tooltipText2::before{
    content: "";
    position: absolute;
    left: 90%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #161616 #0000 #0000 #0000;
}

#tooltip2:hover #tooltipText2{
    top: -130%;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.campo-input{
    min-width: 400px;
    width: 51vw;
    direction: rtl;
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.campo-input i{
    margin-left: 10px;
}
.campo-input p{
    color: #484848;
    margin-top: 10px;
    float: right;
    width: 62%;

}
.campo-input input{
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 77%;
    background: #afafaf;
    float: right;
    margin-left: 30px;
    direction: ltr;
}

.campo-input label{
    color: white;
    font-weight: 700;
    width: 25%;
    text-align: right;
}

input#telefone {
    background: #afafaf;
}

.campo-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
}

.campo-info p{
    width: 59%;
    color: #484848;
    margin-top: 10px;
}

.campo-info h3{
    color: gray;
}

.input-group{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
/* ABA PERFIL */


.container-1{
    margin-left: 80%;
    position: fixed;
    width: auto;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.container-1 button {
    border: 0;
    padding: 15px;
    font-size: medium;
    font-weight: 600;
    background: transparent;
    color: #ffffff;
    border-right: 10px solid #5335f9;
    margin: 10px;
    width: 160px;
}
.container-1 button:hover {
    background: transparent;
    color: #ffffff;
    border-right: 10px solid #ffffff;
    cursor: pointer;
}

.obs {
    text-align: center;
    max-width: 400px;
}

.obs h3 {
    color: #5335f9;
    margin-top: 100px;
}

.obs p {
    color: rgb(70, 70, 70);
}

i.fa-solid.fa-gear.fa-2xl {
    color: #5335f9;
    font-size: -webkit-xxx-large;
}

.menu-perfil {
    float: right;
}

.boxlink {
    padding: 20px;
    text-align: center;
    border: 3px solid;
    margin: 10px;
    color: grey;
    border-radius: 10px;
}
.boxlink a {
    color: black;
    font-weight: 700;
}
.boxlink a:hover {
    color: rgb(63, 66, 235);
    text-decoration: none;
}

.modal-dialog {
    padding: 70px;
}

.obs input{
    text-align: center;
    width: 340px;
    padding: 10px;
    margin-bottom: 30px;
}