* {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, black, #222222);
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 105px;
    margin-left: 20px;
}

::-webkit-scrollbar {
    background-color: #222222;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    padding: 5px;
    -webkit-border-radius: 3px;
}

.principal-termos {
    margin: 0 10%;
}

.principal-termos a {
    color: rgb(56, 12, 216);
}

.fa-solid,
.fas {
    position: absolute;
    margin: 25px 10px;
    font-size: 50px;
    color: darkgrey;
    z-index: 99999;
}