* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background-color: #121212;
    width: 100%;
    padding: 0 20px;
    height: 60px;
    align-items: center;
    z-index: 1;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 4%;
    height: auto;
    min-width: 40px;
    object-fit: cover;
    margin-left: 20%;
    margin-top: 7px;
}

.logo h2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-family: monospace;
    padding-top: 18px;
    padding-left: 15%;

}

.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: right;
}


/* sidebar */

.sidebar {
    position: fixed;
    width: 260px;
    height: calc(100% - 0px);
    background: #565656;
    overflow-x: hidden;
    box-shadow: 1px 20px 20px 4px rgb(0 0 0);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #fff;
}

.sidebar ul li:hover a {
    color:#5335f9;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}


/* main */

html{
    background: #121212;
}

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #121212;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: flex;
    justify-content: center;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 20px;
}


.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #565656;
    border-radius: 10px;
    box-shadow: 2px 4px 17px 4px rgb(0 0 0);
    width: 100%;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
}

.card-name {
    font-weight: 800;
}

.icon-box i {
    font-size: 45px;
    color: #fff;
}


/* charts */

.charts {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    max-width: 376px;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }
    .main {
        width: 100%;
        left: 60px;
    }
}

@media (max-width:880px) {
    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }
    .cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .charts {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    .search {
        width: 80%;
    }
    .search input {
        padding: 0 20px;
    }
    .fa-bell {
        margin-right: 5px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    .user {
        width: 40px;
        height: 40px;
    }
}

/*CARTAS DOS PRODUTOS*/




.cartas-produtos {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .cartas-produtos main {
    max-width: 416px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    width: 300px;
    margin: 2%;
  
  }
  
  .cartas-produtos section {
    display: flex;
    /* align-items: center; */
    position: initial;
    height: 100%;
    width: 100%;
    align-content: flex-end;
    flex-wrap: wrap;
  }
  
  .cartas-produtos main h1 {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .cartas-produtos main span {
    text-align: center;
    color: #545454;
  }
  
  .cartas-produtos main strong {
    color: #0047ff;
  }
  
  .cartas-produtos main img {
    border-radius: 1em;
    max-width: 300px;
    min-height: 240px;
    width: auto;
    height: auto;
  }
  
  main .informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    width: 100%;
    border-radius: 0.8rem;
  }
  
  main .informations .music-price {
    display: flex;
    align-items: center;
  }
  
  main .informations .price {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  
  main .informations a {
    color: #382AE1;
    font-weight: 600;
    font-size: 90%;
    transition: all 0.3s;
  }
  
  main .informations a:hover {
    color: #766CF1;
    text-decoration: none;
  }
  
  main .informations img {
    width: 3rem;
    height: 3rem;
  }
  
  .cartas-produtos main button {
    cursor: pointer;
    padding: 1rem 0;
    width: 100%;
    background: #000000;
    border-radius: 0.8rem;
    border: none;
    color: #FFF;
    font-weight: 600;
    font-size: 95%;
    margin-bottom: 1rem;
    transition: background 0.3s;
  }
  
  .cartas-produtos main button:hover {
    background: #38346c;
  }
  
  #cancel-order {
    text-decoration: none;
    color: #717FA6;
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    transition: color 0.3s;
  }
  
  #cancel-order:hover {
    color: #1F2E55;
  }
  
/* INPUT BUSCA */


.caixadepesquisa h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 43.5%;
}
.caixadepesquisa{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 3vw;
    min-height: 30px;
    border-radius: 40px;
    background-color: white;
    padding: 10px;
    display: flex;
    width: 50%;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
}
.botaodepesquisa{
    color: white;
    float: right;
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.textodepesquisa{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0%;
    color: black;
    font-size: 15px;
    transition: 0.6s;
    line-height: 35px;
    width: 100%;
}

.add-produto{
    float: right;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.add-produto button{
    width: 9vw;
    height: 3vw;
    min-height: 30px;
    min-width: 40px;
    font-size: 18px;
    font-weight: 600;
    background: #b274eb;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    box-shadow: 5px 4px 8px 1px black;
}

/* Janela Modal */


.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index: 9999999;
}

.modal h2{
    padding: 0.5em;
    text-align: center;
    color: #ffffff;
    margin: 0;
    background: black;
}

.modal article{
    height: 67vh;
    background: #e5e5e5;
}

.close-modal{
    color: #ffffff;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.modal a:hover{
    color: #2b53c0;
}

.modal:target{
    opacity: 1;
    top: 0;
}

.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999991;
}

.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;
}

@media (max-width: 500px){
    .modal .content-modal{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
    
}

form{
    display: grid;
    padding: 20px 50px;
}

form label {
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 black;
}

form input {
    border: 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 2px 8px #000000;
    font-weight: 600;
    background: #767676b0;
}

form button {
    border: 0;
    margin-top: 20px;
    height: 50px;
    background: #30b718;
    font-size: 25px;
    border-radius: 20px;
}

a i.fa-solid.fa-trash-can{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 114px;
    position: fixed;
    color: black;
}

i.fa-solid.fa-trash-can:hover{
    color: #d81212;
    cursor: pointer;
}