<div class="modal fade bd-example-modal-lg show" id="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="dynamic-content">
                <h3>Mais configurações</h3>
                <div class="boxlink">
                    <a href="{% url 'perfil' %}">Editar perfil</a>
                </div>
                <div class="boxlink">
                    <a href="{% url 'senha' %}">Alterar senha</a>
                </div>
                <div class="boxlink">
                    <a href="{% url 'excluir' %}">Excluir conta</a>
                </div>
            </div>
        </div>
    </div>
</div>