{% load static %}

<!DOCTYPE html>
<html lang="en">
    <script type="text/javascript" src="{% static 'js/javascript.js' %}" defer></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br">

    <!--Emojis-->
    <script src="https://kit.fontawesome.com/ca7e7e3963.js" crossorigin="anonymous"></script>
    
    {% block head %}{% endblock head %}
    <link rel="stylesheet" href="{% static 'css/style-produtos.css' %}">
    <title>{% block titulo %}{% endblock titulo %}</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>{% block usuario %}{% endblock usuario %}</h2>
            </div>
        </div>
        
        <div class="sidebar">
            <ul>
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="fa-solid fa-house-user"></i>
                        <div>Inicio</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'perfil' %}">
                        <i class="fa-solid fa-address-card"></i>
                        <div>Perfil</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'api' %}">
                        <i class="fa-solid fa-book-open"></i>
                        <div>API</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'produtos' %}">
                        <i class="fa-solid fa-cart-flatbed"></i>
                        <div>Estoque</div>
                    </a>
                </li>
                <li>
                    <div style='margin-top: 60px;'>
                        <a href="{% url 'sair' %}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <div>Sair</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        {% block conteudo %}{% endblock conteudo %}
    <!--grafico js--> 
    <script src="{% static 'js/javascript.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="{% static 'js/chart2.js' %}"></script>
</body>

</html>