{% extends 'base_produtos.html' %}

{% block titulo %}Dashboard{% endblock titulo %}
{% block usuario %}<strong style='color: #5335f9;'> Olá,</strong> {{request.user}}{% endblock usuario %}

{% block conteudo %}
    <div class="cards">
        <div class="card">
            <div class="card-content">
                <div class="number">R$ {{marcas}}</div>
                <div class="card-name">Valor Total do estoque</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number">{{produtos|length}}</div>
                <div class="card-name">Total de produtos</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-boxes-stacked"></i>
            </div>
        </div>
    </div>
    <div class="charts">
        <div class="chart doughnut-chart">
            <h2>Produtos</h2>
            <canvas id="doughnut"></canvas>
        </div>
    </div>
</div>
{% endblock conteudo %}