{% extends 'base_produtos.html' %}
{% load static %}

{% block usuario %}
<form method="get" >
    <div class="caixadepesquisa">
        <input class="textodepesquisa" type="text" placeholder="Buscar produto" name='busca'>
        <button type="submit"><i class="fas fa-search" style='font-size: 80%;'></i></button>
    </div>
</form>

<div class='add-produto'>
    <a href="#modal" id="show-modal"><button type="submit"><i class="fa-solid fa-cart-plus" style='font-size: 100%;'></i></button></a>
</div>
{% endblock usuario %}

{% block conteudo %}

<aside id="modal" class="modal">
    <div class="content-modal">
        <header>
            <a href="#" class="close-modal">X</a>
            <h2><i class="fa-solid fa-cart-plus"></i></h2>
        </header>
        <article>
            <form method="post" class='submit-form' enctype="multipart/form-data">
                {% csrf_token %}

                <div class="textbox">
                    <label>Nome</label>
                    {{form.nome_produto}}
                </div>

                <div class="textbox">
                    <label>Imagem</label>
                    {{form.imagem_produto}}
                </div>

                <div class="textbox">
                    <label>Quantidade</label>
                    {{form.quantidade}}
                </div>

                <div class="textbox">
                    <label>Validade</label>
                    {{form.validade}}
                </div>

                <div class="textbox">
                    <label>Marca</label>
                    {{form.marca}}
                </div>

                <div class="textbox">
                    <label>Preço</label>
                    {{form.preco}}
                </div>

                {% include 'parciais/_messages.html' %}

                <button type="submit" class="btn">Adicionar Produto</button>
            </form>
        </article>
    </div>
</aside>


<div class='cartas-produtos'>
    {% for produto in produtos %}
        <main>
            <a href="{% url 'deletar' produto.id %}"><i class="fa-solid fa-trash-can"></a></i>
            </i>
            <img src="{{produto.imagem_produto.url}}">
        <section>
            <h1>{{produto.nome_produto}}</h1>
            <div class="informations">
                <div class="music-price">
                    <div class="price">
                        <strong>Em estoque: <span>{{produto.quantidade}}</span></strong>
                        <strong>Preço: <span>${{produto.preco}}</span></strong>
                        <strong>Marca: <span>{{produto.marca}}</span></strong>
                        {% if produto.validade %}
                            <strong>Validade: <span>{{produto.validade}}</span></strong>
                        {% endif %}
                    </div>
                </div>
            </div>

            <a href="{% url 'detalhe' produto.id %}" id="show-modal"><button type="submit"><i class="fa-solid fa-pen-to-square"></i></button></a>
        </section>
        </main>
    {% endfor %}
</div>

{% endblock conteudo %}
