{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="https://kit.fontawesome.com/ebab3d8cbc.js" crossorigin="anonymous"></script>

    <title>Document</title>
    <input type="checkbox" id="bt_menu">
<label for="bt_menu">&#9776;</label>

<nav class="menu">
	<ul>
    	<li><a href="#" style='color:#9563f9'>Sobre </a></li>
        <li><a href="{% url 'entrar' %}">Entrar</a></li>
        <li><a href="{% url 'cadastrar' %}">Cadastrar</a></li>
    </ul>
    <div class='icon-top'>
        <img src="{% static 'img/logo.png' %} " height="32px" />
    </div>
</nav>
</head>
<body>

    <header>
        <img src="{% static 'img/logo.png' %} " height="150px" />
    
    </header>

    <div id="texto_home">

        <div>
            <img src="{% static 'img/competencias-expertise-696x1131.png' %}" id='img_home' />
        </div>

        <h1 id="titulo">Gerencie seu Estoque<br/>Via Web<br/> <b id="texto-dentro">e domine o mundo!</b></h1>
        
        <p class="texto-p">Todos os recursos para gerenciar seu estoque.</p>
        <p id="ultimo-texto"><b>Gerencie pelo nosso servidor ou consuma a API REST do seu estoque. </b></p>

        <input type="button" value="" id="botaoApiAzul" />
    </div>
</body>
</html>