{% extends 'base_produtos.html' %}

{% block conteudo %}

<h2 style='text-align: center;
    color: #757575;
    margin-top: 150px;'>
Redefina sua senha </h2>


<form method="post">{% csrf_token %}
    <div class='edit-form'>
        <input type="text" name="senha1" placeholder='Senha'>
        <input type="text" name="senha2" placeholder='Confirme a senha'>
        <div class='verifica'>
            <button type="submit" class='botao-verificar' id='verificar'>Salvar</button>
            {% include 'parciais/_messages.html' %}
        </div>
    </div>
</form>


{% endblock conteudo %}