* {
  text-decoration: none;
  list-style-type: none;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer a {
  color: #7b4dd6;
}

footer p {
  color: white;
  font-weight: 600;
}

i.fa-inverse.fa-solid.fa-heart {
  color: #ff4747;
  font-size: 30px;
  margin: 28px 14px;
}

i.fa-solid.fa-bookmark {
  color: #e3e3e3;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  background: #222;
  background-size: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  padding: 5px;
  -webkit-border-radius: 3px;
}

h2 {
  text-align: center;
}

li {
  color: rgb(226, 20, 20);
  font-weight: 600;
}

.alert-danger {
  color: rgb(238, 38, 38);
  font-weight: 600;
}

#sobre {
  display: flex;
  float: right;
  margin: 1.5em;

}

#about {
  margin-right: 50px;
  margin-right: 50px;
  color: #ac70ee;
  font-family: monospace;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}


.bem-vindo {
  color: #bc74ea;
  font-size: 20px;
}

.botaoLogin {
  margin-left: 15px;
  text-align: center;
  width: 100px;
  padding: 10px;
  border-radius: 40px;
  border: 2.1px solid #ffffff;
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
}

.botaoCadastro {
  margin-left: 15px;
  text-align: center;
  width: 100px;
  padding: 10px;
  border-radius: 40px;
  border: 2.1px solid #ffffff;
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
}

.botaoLogin:hover {
  background-color: rgba(255, 255, 255, 0.082);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 20px #ac70ee;
}

.botaoCadastro:hover {
  background-color: rgba(255, 255, 255, 0.082);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 20px #ac70ee;
}

#botaoApiVerde {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #34ae1d;
  color: white;
  margin-top: 25px;
}

#botaoApiVerde:hover {
  box-shadow: 1px 3px 10px #34ae1d;
  transition: all .3s;
  cursor: pointer;
}

#botaoApiAzul {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #069;
  color: white;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}


#botaoApiAzul:hover {
  box-shadow: 1px 3px 10px #069;
  transition: all .3s;
  cursor: pointer;
}

#titulo {
  font-size: 60px;
  color: white;
  text-align: left;
}

.icon-top {
  float: right;
  margin: 10px 20px;
}

@media only screen and (max-width: 815px) {
  .icon-top {
    display: none !important;
  }

  .menu a,
  .menu {
    background-color: #222;
  }
}

#texto_home {
  color: #f7f7f7;
  text-align: left;
}

@media only screen and (max-width: 590px) {
  #img_home {
    display: none !important;
  }
}

#img_home {
  float: right;
  margin: 0px 10%;
  width: 18.9%;
  min-width: 150px;
}

#texto-dentro {
  font-weight: normal;
}

.texto-p {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

#ultimo-texto {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #5335f9;
}

/* CADASTRO E LOGIN */

div p input {
  height: 5px;
}


/* CSS reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white
}

/* esconde as ancoras da tela */
a.links {
  display: none;
}

/* content que contem os formulários */
.content {
  width: 500px;
  height: auto;
  margin: auto;
  position: relative;
  text-align: center;

}

.fa-solid,
.fas {
  position: absolute;
  margin: 25px 10px;
  font-size: 50px;
  color: darkgrey;
  z-index: 99999;

}

/* formatando o cabeçalho dos formulários */
h1 {
  font-size: 30px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p:first-child {
  margin: 0px;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
  height: auto;

}

input:not([type="checkbox"]) {
  width: 95%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid #b2b2b200;

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"],
button {
  width: 100% !important;
  display: flex;
  cursor: pointer;
  background: #9563f9;
  padding: 8px 5px;
  color: #ffffff;
  height: auto;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
  transition: all 0.2s linear;
  justify-content: center;
  border-radius: 5px;
  border: 0;
}

input[type="submit"]:hover,
button:hover {
  background: #7b4dd6;
}


/*marcando os links para mudar de um formulário para outro */
.link {
  position: relative;
  color: #7f7c7c;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.link a {
  font-weight: bold;
  color: rgb(0 51 255);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.link a:hover {
  color: #4e3cb1;
}

/* estilos para para ambos os formulários */
#cadastro,
#login {
  position: relative;
  top: 0px;
  padding: 18px 6% 2% 6%;
  margin: 15px 5%;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgba(147, 184, 189, 0.8);
  -webkit-box-shadow: 5px;
  border-radius: 20px;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* PLACEHOLDER MANEIRO*/
label.error {
  display: none;
  color: rgb(255, 0, 0);
}

.label-float {
  position: relative;
  padding-top: 13px;
}

.label-float input {
  border: 0;
  border-bottom: 2px solid #82838b;
  /* outline: none; */
  min-width: 180px;
  /* font-size: 16px; */
  background-color: #2a2a2a;
  margin-bottom: 5px;
  transition: all .3s ease-out;
  /* -webkit-transition: all .3s ease-out; */
  -moz-transition: all .3s ease-out;
  /* -webkit-appearance: none; */
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
}

.label-float input:focus {
  border-bottom: 2px solid #3951b2;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  font-family: monospace;
  font-weight: 900;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid+label {
  color: rgb(255, 255, 255);
}

.label-float input:focus:required:invalid {
  border-bottom: 2px solid red;
}

.label-float input:required:invalid+label:before {
  content: ' ';
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
  font-size: 13px;
  margin-top: 0;
  color: #3951b2;
}

.texto {
  position: relative;
  display: inline-block;
  color: red;
  font-size: 1rem;
  margin: 8px;
  margin-left: 50px;
}

.texto::before,
.texto::after {
  content: "";
  position: absolute;
  top: 0.65em;
  width: 1em;
  height: 0.05em;
  background-color: red;
  left: -1.25em;
}

.texto::after {
  left: initial;
  right: -1.25em;
}

.container {
  display: flex;
  margin: auto;
  height: 90vh;
}
.criar-conta {
  width: 50%;
  margin: auto;
  text-align: center;
  background: #42b72a;
  padding: 10px 10px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s linear;
}

.img-carregando {
  width: 26px;
  margin-right: 5px;
}

header img {
  width: 11vw;
  min-width: 100px;
  height: auto;
  margin-left: 3%;
  margin-top: 1em;
}

/* MENU RESPONSIVO */
.menu {
  margin: 1em;
  width: 99%;
  position: fixed;
}

.menu>ul {
  list-style: none;
  position: relative;
  margin-left: 50px;
}

.menu ul li {
  width: 150px;
  float: left;
}

.menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s linear;

}

.menu ul ul {
  list-style: none;
  position: absolute;
  visibility: hidden;

}

.menu ul li:hover ul {
  visibility: visible;
}

.menu a:hover {
  background-color: #f4f4f4;
  color: rgb(67, 18, 204);
  transition: all 0.2s linear;
}

.menu ul ul li {
  float: none;
  border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
  background-color: #069;
}

#bt_menu {
  display: none;
}

label[for='bt_menu'] {
  padding: 5px;
  color: #fff;
  font-family: 'Arial';
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  display: none;
  width: 50px;
  height: 50px;
}

label[for='bt_menu']:hover {
  color: #aaa;
  font-size: 50px;
}

@media (max-width: 800px) {
  .menu {
    margin-left: -110%;
    transition: all .4s;
  }

  label[for='bt_menu'] {
    display: block;
    font-size: 50px;

  }

  .menu>ul {
    margin-left: 0;
  }

  .menu {
    margin-top: 5px;
  }

  .menu ul li {
    width: 100%;
    float: none;
  }

  .menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
  }

  .menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    transition: all .4s;
  }

  #bt_menu:checked~.menu {
    margin-left: 0;
  }
}

.titulo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
}



.principal {
  text-align: center;
}

.principal h2 {
  font-size: 2em;
}

.principal h4 {
  color: #626263;
}

.valores {
  display: flex;
  justify-content: center;
}

.reais {
  margin: 15px;
}

p {
  color: #28316b;
  font-weight: 600;
}

#botaovoltar {
  width: 300px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-color: #069;
  color: white;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}

#botaovoltar:hover {
  box-shadow: 1px 3px 10px #069;
  transition: all .3s;
  cursor: pointer;
}

.list h5 {
  background-image: url(//www.marketdatacloud.com.br/wp-content/themes/marketdatacloud/./assets/images/checkmark.svg);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-y: 0;
  padding: 5px 0 4px 40px;
  margin: 0px 0px 34px 0px;
  font-size: 19px;
  font-weight: 600;
}

.doc h2 {
  font-size: 30px;
  font-family: system-ui;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.doc {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.doc p {
  color: #505050;
  font-weight: 600;

}

.p-api {
  width: 78%;
  margin: auto;
  color: #505050;
  font-weight: 600;
}

.nossa-api p {
  margin: 0;
  width: 86%;
  margin: auto;
}

.nossa-api a {
  color: #1616c3;
}

i.fa-regular.fa-user {
  margin-right: 5px;
}

a.btn-cadastro {
  background: #9563f9;
}

.menu a {
  border-radius: 5px;
}

.home {
  color: #9563f9
}

a.home:hover {
  background: transparent;
  color: #9563f9;
}

#box-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: inherit;
}

#box-404 a {
  width: 400px;
}
#box-404 button {
  margin-top: 100px;
}

.container-main {
  display: grid;
  align-content: center;
  margin: auto;
  width: 80%;
  padding: 6em 0;
}